h1 {
  font-size: 200%;
  color: orangered;
}
h2 {
  color: #E54141;
  font-size: 150%;
}
img {
  width: 100%;
}
p.body {
  line-height: 1000%;
  letter-spacing: 150%;
  width: 50vw;
  word-spacing: 130%;
  color: pink;
}

body {
  background-color: brown;
}
